{% include 'editorial/header.html' %}

<br><br><br><br><br><br>

  {% for article_mag in articles_mag %}

<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <h2>{{ article_mag.p_name }}</h2>
</div>



<section class="design_space">

  <section class="article_mag_design">

  <div class="box_in_design">
  <img src="{{ article_mag.p_image.url }}" alt="A mag_picture" height="300">


  <br>
  <p>{{ article_mag.p_creation_date }}</p>
  <br>
  <h5>{{ article_mag.p_summary }}</h5>

  <br>

  <p>{{ article_mag.p_description|linebreaks }}</p>
  </div>

  </section>
  {% endfor %}

</section>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{% include 'editorial/footer.html' %}
