{% include 'editorial/header.html' %}

<br><br><br><br><br><br>

<section class="page-section bg-primary" id="about">
      {% load static %}
  <div class="container">
      <div class="row">



        <section class="design_space">
          <section class="catalog_design">
          <img src="{% static 'img/portfolio/livre.jpg' %}" alt="image" height="150">
          <div class="box_in_design">

          <h3>Gloire et richesse à tout prix</h3>
          <p>Olivia Kwame est une jeune femme issue d'une famille aisée qui va faire
          la rencontre d'un jeune homme d'une trentaine d'années dont elle va
          tomber amoureuse.</p>
          </div>

          {% if user.is_authenticated %}

          <a href="{% url 'gloire_et_richesses' %}">
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <button class="button" type="submit">
              <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h3>Acheter</h3>
              </div>
            </button>
          </div>
          </a>


          {% else %}
          <button class="button" type="submit">Connectez vous pour acheter le livre</button>
          {% endif %}

          </section>

          <section class="catalog_design">
          <img src="{% static 'img/portfolio/la_petite_princesse.jpg' %}" alt="image" height="150">
          <div class="box_in_design">
          <h3>La petite princesse métisse Eloïse </h3>
          <p>Une BD pour enfants by Blowdy</p>

          {% if user.is_authenticated %}

          <a href="{% url 'la_petite_princesse' %}">
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <button class="button" type="submit">
              <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h3>Acheter</h3>
              </div>
            </button>
          </div>
          </a>


          {% else %}
          <button class="button" type="submit">Connectez vous pour acheter le livre</button>
          {% endif %}

          </section>

        </section>


      </div>
  </div>
</section>


<br><br><br><br>

{% include 'editorial/footer.html' %}
