{% include 'editorial/header.html' %}

<br><br><br><br><br><br>

<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <h2>Commerce</h2>
</div>
{% load static %}
<section class="catalog_design">
<img src="{% static 'img/portfolio/Mug_lppe.jpg' %}" alt="image" height="150">
<div class="box_in_design">
<h3>Mug petite princesse métisse Eloïse </h3>
<p>Un mug petite princesse métisse Eloïse</p>

{% if user.is_authenticated %}

<a href="{% url 'mug_ppme' %}">
<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <button class="button" type="submit">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h3>Acheter</h3>
    </div>
  </button>
</div>
</a>


{% else %}
<button class="button" type="submit">Connectez vous pour acheter l'article</button>
{% endif %}

</section>

<section class="catalog_design">
<img src="{% static 'img/portfolio/assiette.jpg' %}" alt="image" height="150">
<div class="box_in_design">
<h3>Lot de 4 Assiettes la petite princesse métisse Eloïse</h3>
<p>Un lot de 4 Assiettes la petite princesse métisse Eloïse</p>

{% if user.is_authenticated %}

<a href="{% url 'Assiettes' %}">
<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <button class="button" type="submit">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h3>Acheter</h3>
    </div>
  </button>
</div>
</a>


{% else %}
<button class="button" type="submit">Connectez vous pour acheter l'article</button>
{% endif %}

</section>


<section class="catalog_design">
<img src="{% static 'img/portfolio/Sacs.jpg' %}" alt="image" height="150">
<div class="box_in_design">
<h3>Sac de la petite princesse métisse Eloïse</h3>
<p>Sac de la petite princesse métisse Eloïse</p>

{% if user.is_authenticated %}

<a href="{% url 'Sacs' %}">
<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <button class="button" type="submit">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h3>Acheter</h3>
    </div>
  </button>
</div>
</a>


{% else %}
<button class="button" type="submit">Connectez vous pour acheter l'article</button>
{% endif %}

</section>

<section class="catalog_design">
<img src="{% static 'img/portfolio/Valise.jpg' %}" alt="image" height="150">
<div class="box_in_design">
<h3>Valise de la petite princesse métisse Eloïse</h3>
<p>Valise de la petite princesse métisse Eloïse</p>

{% if user.is_authenticated %}

<a href="{% url 'Valise_ppme' %}">
<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <button class="button" type="submit">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h3>Acheter</h3>
    </div>
  </button>
</div>
</a>


{% else %}
<button class="button" type="submit">Connectez vous pour acheter l'article</button>
{% endif %}

</section>


<section class="catalog_design">
<img src="{% static 'img/portfolio/Couettes_et_taies.jpg' %}" alt="image" height="150">
<div class="box_in_design">
<h3>Couette et taies d'oreiller de la petite princesse métisse Eloïse</h3>
<p>Couette et taies d'oreiller de la petite princesse métisse Eloïse</p>

{% if user.is_authenticated %}

<a href="{% url 'Couette_et_taie' %}">
<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <button class="button" type="submit">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h3>Acheter</h3>
    </div>
  </button>
</div>
</a>


{% else %}
<button class="button" type="submit">Connectez vous pour acheter l'article</button>
{% endif %}

</section>

<!-- <nav id="menu">
  <label for="tm" id="toggle-menu">Ourvir le menu <span class="drop-icon">▾</span></label>
  <input type="checkbox" id="tm">
  <ul class="main-menu clearfix">

    <li><a href="#">Mode
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm23">▾</label>
      </a>
      <input type="checkbox" id="sm23">
      <ul class="sub-menu">

        <li><a href="#">Femmes</a></li>

        <li><a href="#">Hommes</a></li>
        <li><a href="#">Enfants</a></li>
            <li><a href="#">Garçons</a></li>

        <li><a href="#">Sacs</a></li>
        <li><a href="#">Chaussues</a></li>
        <li><a href="#">Accessoires</a></li>
        <li><a href="#">Plus</a></li>
      </ul>
    </li>

    <li><a href="#">Marque</a></li>

    <li><a href="#">Maison
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm52">▾</label>
      </a>
      <input type="checkbox" id="sm52">
      <ul class="sub-menu">
        <li><a href="#">Déco d'intérieur</a></li>
        <li><a href="#">Linge de maison</a></li>
        <li><a href="#">Rideaux</a></li>
        <li><a href="#">Papiers peints</a></li>
      </ul>
    </li>

    <li><a href="#">Beauté
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm54">▾</label>
      </a>
      <input type="checkbox" id="sm54">
      <ul class="sub-menu">
        <li><a href="#">Cosmétique</a></li>
        <li><a href="#">Maquillage</a></li>
        <li><a href="#">Coiffures</a></li>
      </ul>
    </li>
    <li><a href="#">Jardin</a></li>
    <li><a href="#">Mobilier</a></li>
    <li><a href="#">Avec ou sans branchements
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm57">▾</label>
      </a>
      <input type="checkbox" id="sm57">
      <ul class="sub-menu">
        <li><a href="#">Electroménager</a></li>
        <li><a href="#">Bureautique</a></li>
      </ul>
    </li>
    <li><a href="#">Jeux</a></li>
  </ul>
</nav> -->



<!-- <div class="nav-menu d-none d-lg-block"> -->

<br><br><br><br>



{% include 'editorial/footer.html' %}


<div id="menuBlowdy">
  <div id="logo">Your Logo here</div>
  <label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" />
  <ul class="menu">
    <li><a href="#">Home</a></li>
    <li>
      <!-- First Tier Drop Down -->
      <label for="drop-1" class="toggle">Service +</label>
      <a href="#">Service</a>
      <input type="checkbox" id="drop-1"/>
      <ul>
        <li><a href="#">Service 1</a></li>
        <li><a href="#">Service 2</a></li>
        <li><a href="#">Service 3</a></li>
      </ul>
    </li>
    <li>

      <!-- First Tier Drop Down -->
      <label for="drop-2" class="toggle">Portfolio +</label>
      <a href="#">Portfolio</a>
      <input type="checkbox" id="drop-2"/>
      <ul>
        <li><a href="#">Portfolio 1</a></li>
        <li><a href="#">Portfolio 2</a></li>
        <li>

          <!-- Second Tier Drop Down -->
          <label for="drop-3" class="toggle">Works +</label>
          <a href="#">Works</a>
          <input type="checkbox" id="drop-3"/>
          <ul>
            <li><a href="#">HTML/CSS</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">Python</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Submit</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
  </ul>
</div>
