{% include 'editorial/header.html' %}

<br><br><br><br><br><br>

<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <h2>Commerce</h2>
</div>

<ul class="main-navigation">
  <li><a href="#">Mode</a>
    <ul>
      <li><a href="#">Vêtements</a></li>
      <li><a href="#">Sacs</a>
        <ul>
          <li><a href="#">Resets</a></li>
          <li><a href="#">Grids</a></li>
          <li><a href="#">Frameworks</a></li>
        </ul>
      </li>
      <li><a href="#">Chaussures</a>
        <ul>
          <li><a href="#">Ajax</a></li>
          <li><a href="#">jQuery</a></li>
        </ul>
      </li>
      <li><a href="#">Accessoires</a>
        <ul>
          <li><a href="#">Ajax</a></li>
          <li><a href="#">jQuery</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li><a href="#">Affaires de maison</a>
    <ul>
      <li><a href="#">Linge de maison</a></li>
      <li><a href="#">Affaires de cuisine</a>
        <ul>
          <li><a href="#">Resets</a></li>
          <li><a href="#">Grids</a></li>
          <li><a href="#">Frameworks</a></li>
        </ul>
      </li>
      <li><a href="#">Affaires de douche</a>
        <ul>
          <li><a href="#">Ajax</a></li>
          <li><a href="#">jQuery</a></li>
        </ul>
      </li>
    </ul>
  </li>



  <li><a href="#">Déco d'intérieur</a>
    <ul>
      <li><a href="#">Orloges</a></li>
      <li><a href="#">Tableaux</a></li>
      <li><a href="#">Tapis</a>
        <ul>
          <li><a href="#">Portfolios</a></li>
          <li><a href="#">Testimonials</a></li>
        </ul>
      </li>
      <li><a href="#">Papiers peints</a></li>
    </ul>
  </li>
  <li><a href="#">Cosmétique</a></li>
  <li><a href="#">Artisanat</a></li>

  <li><a href="#">Bureautique</a></li>
  <li><a href="#">Electroménager</a></li>
  <li><a href="#">Art</a></li>
  <li><a href="#">Bibliothèque</a></li>
  <li><a href="#">Jeux</a></li>
</ul>



<br><br><br><br>

{% include 'editorial/footer.html' %}
