{% include 'editorial/header.html' %}

<br><br><br><br><br><br>

<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <h2>Commerce</h2>
</div>

<div class="nav-menu d-none d-lg-block">
  <ul>
    <li>
      <a href="#">Mode</a>
      <ul>
        <li><a href="#">Femmes</a>
          <ul>

                <li><a href="#">Tête</a>
                  <ul>
                    <li><a href="#">Casquettes</a></li>
                    <li><a href="#">Chapeaux</a></li>
                    <li><a href="#">Visières</a></li>
                  </ul>
                </li>
                <li><a href="#">Corps</a>
                  <ul>
                    <li><a href="#">Robes</a></li>
                    <li><a href="#">Combinaisons</a></li>
                    <li><a href="#">Salopettes</a></li>
                  </ul>
                </li>
                <li><a href="#">Hauts</a>
                  <ul>
                    <li><a href="#">Tee-shirts</a></li>
                    <li><a href="#">Chemises</a></li>
                    <li><a href="#">Débardeurs</a></li>
                  </ul>
                </li>
                <li><a href="#">Bas</a>
                  <ul>
                    <li><a href="#">Jupes</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Pantalons</a></li>
                  </ul>
                </li>
                <li><a href="#">Sous-Vêtements</a>
                  <ul>
                    <li><a href="#">Soutiens gorges</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Pantalons</a></li>
                  </ul>
                </li>
            <li><a href="#">Plus</a></li>
          </ul>
        </li>

        <li><a href="#">Hommes</a>

          <ul>

                <li><a href="#">Tête</a>
                  <ul>
                    <li><a href="#">Casquettes</a></li>
                    <li><a href="#">Chapeaux</a></li>
                    <li><a href="#">Visières</a></li>
                  </ul>
                </li>
                <li><a href="#">Corps</a>
                  <ul>
                    <li><a href="#">Combinaisons</a></li>
                    <li><a href="#">Salopettes</a></li>
                  </ul>
                </li>
                <li><a href="#">Hauts</a>
                  <ul>
                    <li><a href="#">Tee-shirts</a></li>
                    <li><a href="#">Chemises</a></li>
                    <li><a href="#">Débardeurs</a></li>
                  </ul>
                </li>
                <li><a href="#">Bas</a>
                  <ul>
                    <li><a href="#">Pantalons</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Bermudas</a></li>
                  </ul>
                </li>
                <li><a href="#">Sous-Vêtements</a>
                  <ul>
                    <li><a href="#">Boxers</a></li>
                    <li><a href="#">Slips</a></li>
                    <li><a href="#">Caleçons</a></li>
                  </ul>
                </li>
            <li><a href="#">Plus</a></li>
          </ul>
        </li>
        <li><a href="#">Enfants</a>
          <ul>
            <li><a href="#">Filles</a>

              <ul>

                    <li><a href="#">Tête</a>
                      <ul>
                        <li><a href="#">Casquettes</a></li>
                        <li><a href="#">Chapeaux</a></li>
                        <li><a href="#">Visières</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Corps</a>
                      <ul>
                        <li><a href="#">Robes</a></li>
                        <li><a href="#">Combinaisons</a></li>
                        <li><a href="#">Salopettes</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Hauts</a>
                      <ul>
                        <li><a href="#">Tee-shirts</a></li>
                        <li><a href="#">Chemises</a></li>
                        <li><a href="#">Débardeurs</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Bas</a>
                      <ul>
                        <li><a href="#">Jupes</a></li>
                        <li><a href="#">Shorts</a></li>
                        <li><a href="#">Pantalons</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Sous-Vêtements</a>
                      <ul>
                        <li><a href="#">Brassières</a></li>
                        <li><a href="#">Culottes</a></li>
                        <li><a href="#">Boxers</a></li>
                      </ul>
                    </li>
                <li><a href="#">Plus</a></li>
              </ul>

            </li>

            <li><a href="#">Garçons</a>

              <ul>

                    <li><a href="#">Tête</a>
                      <ul>
                        <li><a href="#">Casquettes</a></li>
                        <li><a href="#">Chapeaux</a></li>
                        <li><a href="#">Visières</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Corps</a>
                      <ul>
                        <li><a href="#">Combinaisons</a></li>
                        <li><a href="#">Salopettes</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Hauts</a>
                      <ul>
                        <li><a href="#">Tee-shirts</a></li>
                        <li><a href="#">Chemises</a></li>
                        <li><a href="#">Débardeurs</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Bas</a>
                      <ul>
                        <li><a href="#">Pantalons</a></li>
                        <li><a href="#">Shorts</a></li>
                        <li><a href="#">Bermudas</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Sous-Vêtements</a>
                      <ul>
                        <li><a href="#">Boxers</a></li>
                        <li><a href="#">Slips</a></li>
                        <li><a href="#">Caleçons</a></li>
                      </ul>
                    </li>
                <li><a href="#">Plus</a></li>
              </ul>

            </li>
          </ul>
        </li>


        <li><a href="#">Sacs</a>
          <ul>
            <li><a href="#">Dos</a></li>
            <li><a href="#">Bandoulière</a></li>
            <li><a href="#">Main</a></li>
          </ul>
        </li>
        <li><a href="#">Chaussures</a>
          <ul>
            <li><a href="#">Sandales</a></li>
            <li><a href="#">Talons</a></li>
            <li><a href="#">Baskets</a></li>
            <li><a href="#">Escarpins</a></li>
          </ul>
        </li>
        <li><a href="#">Accessoires</a></li>
        <li><a href="#">Plus</a></li>
      </ul>
    </li>



    <li><a href="#">Marque</a>

    </li>

    <li><a href="#">Maison</a>
      <ul>
        <li>
          <a href="#">Déco d'intérieur</a>
            <ul>
              <li><a href="#">Tableaux</a></li>
              <li><a href="#">Tapis</a></li>
              <li><a href="#">Orloges</a></li>
            </ul>
        </li>
          <li><a href="#">Linge de maison</a></li>
          <li><a href="#">Rideaux</a></li>
          <li><a href="#">Papiers peints</a></li>
      </ul>
    </li>
    <li><a href="#">Beauté</a>
      <ul>
        <li><a href="#">Cosmétique</a></li>
        <li><a href="#">Maquillage</a>
          <ul>
            <li><a href="#">Outils de maquillage</a></li>

          </ul>


        </li>
        <li><a href="#">Coiffures</a>

          <ul>
            <li><a href="#">Mèches</a></li>
            <li><a href="#">Perruques</a></li>
          </ul>

        </li>
      </ul>


    </li>



    <li><a href="#">Jardin</a></li>



    <li><a href="#">Mobilier</a></li>

    <li><a href="#">Avec et sans branchement</a>

      <ul>
        <li><a href="#">Electroménager</a></li>
        <li><a href="#">Bureautique</a>
          <ul>
            <li><a href="#">Informatique</a>

          </ul>
        <li><a href="#">Téléphone</a></li>
        </li>
</ul>





    <li><a href="#">Jeux</a></li>

  </ul>

</div>


<br><br><br><br>

{% include 'editorial/footer.html' %}
