{% include 'editorial/header.html' %}

<br><br><br><br><br><br>

<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <h2>Immobilier</h2>
</div>

<div class="nav-menu d-none d-lg-block">
  <ul>
  <!-- <ul class="main-navigation"> -->
    <li><a href="#">Particuliers</a>
      <ul>
        <li>
          <a href="#">Achats</a>
            <ul>
              <li><a href="#">Appartements</a></li>
              <li><a href="#">Maisons</a></li>
              <li><a href="#">Locaux</a></li>
              <li><a href="#">Plus</a></li>
            </ul>
          <a href="#">Locations</a>
            <ul>
              <li><a href="#">Appartements</a></li>
              <li><a href="#">Maisons</a></li>
              <li><a href="#">Locaux</a></li>
              <li><a href="#">Plus</a></li>
            </ul>
          <a href="#">Ventes</a>
            <ul>
              <li><a href="#">Appartements</a></li>
              <li><a href="#">Maisons</a></li>
              <li><a href="#">Locaux</a></li>
              <li><a href="#">Plus</a></li>
            </ul>
        </li>
      </ul>
    </li>

    <li><a href="#">Professionnels</a>
      <ul>
        <li>
          <a href="#">Achats</a>
            <ul>
              <li><a href="#">Appartements</a></li>
              <li><a href="#">Maisons</a></li>
              <li><a href="#">Locaux</a></li>
              <li><a href="#">Plus</a></li>
            </ul>
          <a href="#">Locations</a>
            <ul>
              <li><a href="#">Appartements</a></li>
              <li><a href="#">Maisons</a></li>
              <li><a href="#">Locaux</a></li>
              <li><a href="#">Plus</a></li>
            </ul>
          <a href="#">Ventes</a>
            <ul>
              <li><a href="#">Appartements</a></li>
              <li><a href="#">Maisons</a></li>
              <li><a href="#">Locaux</a></li>
              <li><a href="#">Plus</a></li>
            </ul>
        </li>
      </ul>
    </li>


</div>


<br><br><br><br>

{% include 'editorial/footer.html' %}
