{% include 'editorial/header.html' %}

<br><br><br><br><br><br>

<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <h2>Immobilier</h2>
</div>

<ul class="main-navigation">
  <li><a href="#">Location</a>
    <ul>
      <li><a href="#">Appartement</a></li>
      <li><a href="#">Maison</a>
        <ul>
          <li><a href="#">Resets</a></li>
          <li><a href="#">Grids</a></li>
          <li><a href="#">Frameworks</a></li>
        </ul>
      </li>

    </ul>
  </li>

  <li><a href="#">Ventes</a>
    <ul>
      <li><a href="#">Appartement</a></li>
      <li><a href="#">Maison</a>
        <ul>
          <li><a href="#">Resets</a></li>
          <li><a href="#">Grids</a></li>
          <li><a href="#">Frameworks</a></li>
        </ul>
      </li>

    </ul>
  </li>

</ul>



<br><br><br><br>

{% include 'editorial/footer.html' %}
