<!-- <section class="user_section"> -->
<section id="contact" class="login_section">



  <form class="user_box" method="POST" action="">
    <br><br><br><br>
    {% csrf_token %}
    <h3 class="section-title">
    Connexion
    </h3>
    <input class="input_button user_btn" type="text" name="username" placeholder="Pseudo...">
    <input class="input_button user_btn" type="password" name="password" placeholder="Mot de passe..." class="form-control">
    <div class="button"><button type="submit">Se connecter</button></div>

  </form>
</section>

<!-- <section id="contact" class="login_section"> -->

  <h3 class="standard-title login_section">
  Pas encore de compte?
  </h3>


    <div class="login_section">
    <a href="{% url 'signup' %}">
    <div class="button button2 user_btn">

        <span>Créer un compte</span>
        <br><br>
      </div>
      </a>
      <br><br>
      </div>



<!-- </section> -->
